@import './globals';

@mixin text-properties($font-size, $font-weight, $line-height, $color) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}

.text {
  &-t0w {
    @include text-properties(14px, 500, 17px, var(--white));
  }

  &-t0g {
    @include text-properties(14px, 500, 17px, var(--gray));
  }

  &-t0b {
    @include text-properties(14px, 500, 17px, var(--black));
  }

  &-t1-400 {
    @include text-properties(18px, 400, 22px, var(--black));
  }

  &-t1-500 {
    @include text-properties(18px, 500, 22px, var(--black));
  }

  &-t2g {
    @include text-properties(20px, 400, 24px, var(--gray));
  }

  &-t3w {
    @include text-properties(24px, 500, 28px, var(--white));
  }

  &-t3b {
    @include text-properties(24px, 500, 28px, var(--black));
  }

  &-t3g {
    @include text-properties(24px, 800, 28px, var(--green));
  }

  &-t4g {
    @include text-properties(30px, 800, 36px, var(--green));
  }

  &-t5w {
    @include text-properties(40px, 800, 46px, var(--white));
  }

  &-t5b{
    @include text-properties(40px, 800, 46px, var(--black));
  }

  &-t6 {
    @include text-properties(54px, 800, 62px, var(--black));
  }
}
