.wrapper {
  padding-top: 20px;

  &__footer {
    height: 229px;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 276px;

    &__content {
      display: flex;
      gap: 100px;
      align-items: start;

      &__menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &__docs {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &__contacts {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &_text {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }

  &__subFooter {
    display: flex;
    align-items: center;
    height: 74px;
    gap: 500px;
    background-color: var(--green);
    justify-content: space-around;

    & > div {
      display: flex;
      gap: 30px;
    }
  }
}
