.slider {
  height: 100vh;
  background-color: white;

  &__img {
    position: absolute;
    right: 100px;
    top: 120px;
  }

  &__text {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 31px;
    top: 100px;
    left: 100px;
    width: 40%;
    text-align: start;
  }
  &__btn {
    margin-top: 50px;
  }
}
